@media screen and (min-width: 1280px) and (min-width: 1280px) {
  .main-header {
    /* padding-inline: calc(50vw - 586px) !important; */
  }
}

/* Mobile Responsive Navigation */
@media (max-width: 991px) {
  .main-page-content {
    /* padding: 0 1rem; */
  }
}
@media (max-width: 768px) {
  .cta-title {
    font-size: 2rem;
  }

  .cta-subtitle {
    font-size: 1rem;
  }
}
